<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        {{textoTitulo}}
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
          {{texto}}
      </div>
    </section>
    <section>
      <input formControlName="cep" class="input-data input" placeholder="CEP" type="number" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"/>
      <input formControlName="numero" class="input-data input" placeholder="Número" type="number"/>
      <input formControlName="complemento" class="input-data input" id="input-type" placeholder="Complemento" type="text"/>
    </section>

    <label class="warning" *ngIf="!cepValido">CEP informado é invalido, informe por favor um cep valido!</label>
    {{cepValido}}
    <div class="submit">
      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
