<div class="container">
  <div class="form">
    <nav class="toggle">
      <h4>
        {{textoTitulo}}
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
          {{texto}}
      </div>
    </section>
    <section>
      <input #cepInput class="input-data input" placeholder="CEP" type="number" [(ngModel)]="cep" (keyup)="validaCep(cepInput.value)"/>
      <input #numeroInput class="input-data input" placeholder="Número" type="number" [(ngModel)]="numero" (keyup)="validaNumero(numeroInput.value)"/>
      <input #complemento class="input-data input" id="input-type" placeholder="Complemento" type="text"/>
    </section>
    <div class="submit">
      <fdn-button (click)="onSubmit(cepInput.value, numeroInput.value, complemento.value)" [disabled]="!(cepValido && numeroValido)?true:null" textoInterno="Avançar"></fdn-button>
    </div>
  </div>
</div>
