<nav class="container">
  <img src="{{ background }}" class="background-Image" >
  <article class="logo">
    <img src="{{pathImage}}" alt="logo" srcset="">
  </article>

    <form [formGroup]="formulario">
    <article class="informacoes">
      <section class="container-informacoes">
        <section class="email">
          <label>Email ou Numero Telefone</label>
          <input [ngClass]="aplicaCssErro('login')" formControlName="email" type="text" name="usuario">

        </section>

        <section class="senha">
          <label>Senha</label>
          <input [ngClass]="aplicaCssErro('senha')" formControlName="senha" type="password" name="senha">
        </section>

        <a (click)="esqueceuSenha()" id="esqueceu-senha">Esqueceu a senha?</a>

        <fdn-button textoInterno="Entrar" (click)="onSubmit()"></fdn-button>
        <div class="div-cadastrar">
          Não tem conta?
          <a (click)="cadastrarConta()" id="cadastre-se"> <span>Cadastre-se</span></a>
        </div>
      </section>
    </article>
    </form>
</nav>
