<div class="container">
  <form>
    <!--action="/cadastro-email-celular  method="post""-->
    <nav class="toggle">
      <label class="opcao-selecionada" *ngIf="opcao == 0;" (click)="ChosePhone()">TELEFONE</label>
      <label *ngIf="opcao == 1" (click)="ChosePhone()">TELEFONE</label>
      <hr>
      <label class="opcao-selecionada" *ngIf="opcao == 1;" (click)="ChoseEmail()">E-MAIL</label>
      <label *ngIf="opcao == 0"  (click)="ChoseEmail()">E-MAIL</label>
    </nav>
    <hr>
    <div class="submit">
      <fdn-input-data name="phone" class="phone" id="input-type" textoInterno="{{textoInterno}}" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-button textoInterno="Avançar" linkRedirect="cadastroCodigoConfirmacao" (click)="EnviarCodigo()"></fdn-button>
    </div>

  </form>
</div>

