<div class="container">
  <section>
    <div class="topico">
      Horarios Agendados
    </div>
    <div class="horarios-agendados">
      <fdn-card-barbearia-vertical [isVisitada]="false" *ngFor="let barbearia of barbearias"
      [barbearia]="barbearia"
      ></fdn-card-barbearia-vertical>
    </div>
  </section>
  <section>
    <div class="topico">
      Barbearias Visitadas
    </div>
    <div class="barbearias-visitadas">
      <fdn-card-barbearia-visitada
      *ngFor="let barbearia of barbearias;"
      [barbearia]="barbearia"
      ></fdn-card-barbearia-visitada>

    </div>
  </section>
  <div class="titulo-central">
    Barbearias Favoritas
  </div>
  <section class="barbearias-favoritas">
    <div class="barbearias-favoritas">
      <fdn-card-barbearia-favorita
      *ngFor="let barbearia of barbearias; let i = index"
      [barbearia]="barbearia"
      [tempo]="tempo[i]"
      [valor]="valor[i]"
      [distancia]="distancia[i]"
      ></fdn-card-barbearia-favorita>
    </div>
  </section>
</div>

