.container {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-size: cover ;
  width: 100%;
  overflow: hidden;

  .background-Image {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 0;
    filter: blur(6px);
  }

  article {
    position: relative;
    z-index: 1;
  }

  .logo {
    padding: 25vh 0% 5vh 0%;
    display: flex;
    justify-content: center;

  }

  .informacoes {
    height: 60%;
    padding-bottom: 100%;

    .container-informacoes {
      display: grid;
      align-items: center;

      section {
        display: flex;
        flex-direction: column;
        padding: 5% 0% 2% 0%;
        height: 100%;

        label {
          padding-bottom: 2%;
        }
      }

      a {
        color: var(--font-color);
        text-decoration: none;
        span {
          color: #685DAB;
          font-weight: 600;
        }
      }

      fdn-button {
        width: 80%;
        height: 5%;
        padding-left: 3%;
      }

      #esqueceu-senha {
        text-align: end;
      }

      #cadastre-se {
        text-align: center;
        padding-top: 15%;

      }
    }
  }


  @keyframes change-Background-Image
  {

    0%  {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-barbeiro1.jpg?token=AD5NGI2RUHVS3VLLVRC4FIDA6DOGC');
    }
    10% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-barbeiro2.jpg?token=AD5NGIY357MICWFBD2TU6XTA6DOHI');

    }
    20% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte1.jpg?token=AD5NGI26DRF4RKZVKRMB2WTA6DOIC');

    }
    30% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte2.jpg?token=AD5NGI6GV7ZI53MNU6ZYOTDA6DOJG');

    }
    40% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte3.jpg?token=AD5NGI5GBPPJA4MU4WTU3R3A6DOKG');

    }
    50% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte4.jpg?token=AD5NGI5SDPL26326556RNZTA6DOKW');

    }
    60% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte5.jpg?token=AD5NGI52P4MUPLSZAAXHANTA6DOLM');

    }
    70% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte6.jpg?token=AD5NGI3J3UV2FF4UMUIZ3VLA6DOMK');

    }
    80% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-corte7.jpg?token=AD5NGI5BSDREJ5OBRIYEDUTA6DONA');

    }
    90% {
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-maquina.jpg?token=AD5NGI4QCXK4ONOAGCUP7TTA6DON2');

    }
    100%{
      background-image: url('https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/images/barber-image-pentes.jpg?token=AD5NGI57YZKXG5ZOLQ4MSE3A6DOOQ');

    }
  }
}
