<nav class="container">
  <img src="{{ background }}" class="background-Image" >
  <article class="logo">
    <img src="{{pathImage}}" alt="logo" srcset="">
  </article>

  <form action="" method="post">
    <article class="informacoes">
      <section class="container-informacoes">
        <section class="email">
          <label for="">Email</label>
          <fdn-input-data type="'email'"></fdn-input-data>
        </section>

        <section class="senha">
          <label for="">Senha</label>
          <fdn-input-data type="'senha'"></fdn-input-data>
        </section>

        <a href="esqueceu" id="esqueceu-senha">Esqueceu a senha?</a>

        <fdn-button textoInterno="Entrar"></fdn-button>

        <a href="#" id="cadastre-se">Não tem conta? <span>Cadastre-se</span></a>
      </section>
    </article>
    </form>
</nav>
