.container {

  //display: flex;
  flex-flow: row wrap;
  width: 7rem;
  height: 12rem;
  align-self: center;
  border-radius: 5px;
  margin: 5px;
  color: var(--background-color);
  background-color: var(--input-color);

  section {
    align-items: center;
  }

  .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding-bottom: 10px;

  }
  .bloco1{
    padding-top: 5px;
    width: 100%;
    border-bottom: 2px solid black;
    margin: auto;
  }

  img {
    padding-bottom: 15px;
    max-width: 50%;
    width: 50%;
    border-radius: 50%;
  }

  .data {
    padding-top: 0px;
    font-weight: 800;
  }

  .horario {
    padding-bottom: 7px;
    font-weight: 800;
  }

  .distancia {
    font-size: 0.7rem;
    padding-bottom: 10px;
  }

  .barbeiro {
    padding-bottom: 2px;
  }
}
