<div class="container">
  <form action="#" method="post">

    <nav class="toggle">
      <h4>
        Adicione sua data de nascimento
      </h4>

      <label>Isso não fará parte do seu perfil publico</label>
    </nav>
    <section class="submit">
      <div class="input-data">
        <fdn-input-data type="number" (keyup)="getDia($event.target.value)" textoInterno="Dia"></fdn-input-data>
        <fdn-input-data type="number" (keyup)="getMes($event.target.value)" textoInterno="Mês"></fdn-input-data>
        <fdn-input-data type="number" (keyup)="getAno($event.target.value)" textoInterno="Ano"></fdn-input-data>
      </div>

      <div class="textos">
        <label for="">Você precisa inserir sua data de nascimento </label>
        <label for="">
          Use sua propria data de nascimento.
          Caso sejá a conta de um empresa, informe a data da abertura do CNPJ.
        </label>
      </div>

        <label hidden="{{valida()}}" class="textoErro">Data Invalida, por favor informe um valor valido!</label>
        <fdn-button textoInterno="Avançar" (click)="valida()"></fdn-button>
   </section>
  </form>
</div>

