<div class="container">
  <form action="/cadastro-codigo-confirmacao" [formGroup]="formulario" method="post" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Selecione o tipo de Conta
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Selecione que tipo de conta irá
        utilizar na Plataforma.
        Fique atento pois não poderá alterar.
      </div>
    </section>
    <section>
      <div [ngClass] = "opcaoSelecionada == 0 ? 'escolha-tipo-conta':''" (click)="escolherConta(0)">
        <img class="tipo-conta"
          src="https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/icons/beard-icon-white.png?token=ARGG43U7H7EZZPQOAIV3CBLA7UH22"
          alt="Cliente">
        <br>
        <label>Cliente</label>
      </div>

      <div [ngClass] = "opcaoSelecionada == 1 ? 'escolha-tipo-conta':''" (click)="escolherConta(1)">
        <img class="tipo-conta"
          src="https://raw.githubusercontent.com/LuccasTraumer/tcc-fed-fio-navalha/in-progress/src/assets/icons/barber-icon-white.png?token=ARGG43VF3YWFR6LJ7AS6Y4TA7UHUA"
          alt="Salão">
        <br>
        <label>Barbearia(s)</label>
      </div>
    </section>
    <div class="submit">
      <fdn-button [disabled]="!isTipoContaValido?true:null" textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
