
<div class="container">
  <div class="user">
      <img src="assets\img\foto.jpg" class="foto-perfil" alt="foto de perfil">
        <h1>Pedro Otávio</h1>
        <div id="conteudo">
            <div class="navbar">
                <input type="button" value="Perfil" class="button" id="button">
                <input type="button" value="Configurações" class="button">
            </div>
            <div class="conteudoPerfil" id="profile">
                <h4>Endereço</h4>
                  <p>
                    Cep: 00000-00<br>
                    Rua: Jose seila da silva, 133 <br>
                    Complemento: Perto da padoca
                  </p>
                <hr>
                <h4>Contato</h4>
                  <p>
                    Telefone: 9002-8922<br>
                    Email: josefino@gmail.com
                  </p>
            </div>
            <div class="conteudoConfig" id="config">
              <h4>Modo escuro</h4>
                <p>
                  generic
                </p>
              <hr>
              <h4>Idioma</h4>
                <p>
                  generic
                </p>
                <h4>exit</h4>
          </div>
        </div>
  </div>
</div>


