.container {
  background: #edeae3;
  border-radius: 11%;
  padding: 10px;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;



  .informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .coluna {
      margin-top: 10px;
      line-height: 15px;
      max-width: max-content;
    }
    header {
      max-width: max-content;
      font-weight: 800;
    }
    section {
      display: inline;
    }
    .aside-foto {
      max-width: 50px;
      min-width: 50px;
      margin-right: 4px;
      max-width: min-content;
      img {
        margin-top: 25px;
        width: 100%;
        border-radius: 100%;
      }
    }

    .detalhes {
      width: max-content;
      font-size: 14px;
      max-width: 250px;
      display: flex;
      flex-direction: column;
      flex-flow: column;
      margin-top: 10px;
      max-width: max-content;

    }
    .aprovacao {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-end;
      max-width: max-content;

    }
  }
  .icone {
    width: 50px;
  }
}
