<nav class="container">
  <!-- <img src="{{ICONE_BARBEAIRIA}}" alt="icone barbearia" srcset=""> -->
  <section class="informacoes">
    <aside class="aside-foto">
      <img src="{{retornaFotoPerfil()}}" alt="" class=".foto-perfil">
    </aside>
    <div class="coluna">

      <header>
        {{retornaNomeSolicitante()}}
      </header>

      <section class="detalhes">
        <div>
          {{ retornaTipoServico() }}
        </div>
        <div>
          {{ retornaValorServico() }}
        </div>
        <div>
          {{ retornaDataServico() }}
        </div>
        <div>
          {{ retornaHorarioServico() }}
        </div>
      </section>
    </div>
    <aside class="aprovacao">
      <img src="{{ ICONE_APROVACAO_PEDIDO }}" alt="" class="icone" (click)="cancelarPedido()">
      <img src="{{ ICONE_CANCELAMENTO_PEDIDO }}" alt="" class="icone" (click)="aprovarPedido()">
    </aside>
  </section>
</nav>
