<div class="container">
  <div class="form">
    <nav class="toggle">
      <h4>
        Insira nome e senha
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Adicione nome para que seus
        {{text}} possam encontrar você.
      </div>
    </section>
    <section>
      <input #nome class="input-data" placeholder="Nome" type="text" maxlength="30" (keyup)="validarNome($event.target.value)">
      <input #senha class="input-data" autocomplete="off" placeholder="Senha" type="password" minlength="8" maxlength="20" (keyup)="validarSenha($event.target.value)">
      <input #confirmacaoSenha class="input-data" placeholder="Confirmar Senha" autocomplete="off" type="password" minlength="8" maxlength="20" (keyup)="validarSenhaConfirmacao($event.target.value)">
    </section>
    <div class="submit">
      {{cliente2.nome}}
      <label class="textoErro" [hidden]="senhaValida">{{mensagemErro}}</label>
      <fdn-button (click)="onSubmit(nome.value, senha.value)" [disabled]="!senhaValida?true:null" textoInterno="Avançar"></fdn-button>
    </div>
  </div>
</div>
