<div class="container">
  <section>
    <div class="topico">
      Horarios Agendados
    </div>
    <div class="horarios-agendados">
      <fdn-card-horario-agendado></fdn-card-horario-agendado>
      <fdn-card-horario-agendado></fdn-card-horario-agendado>
      <fdn-card-horario-agendado></fdn-card-horario-agendado>
      <fdn-card-horario-agendado></fdn-card-horario-agendado>

    </div>
  </section>
  <section>
    <div class="topico">
      Barbearias Visitadas
    </div>
    <div class="barbearias-visitadas">
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
      <fdn-card-barbearia-visitada></fdn-card-barbearia-visitada>
    </div>
  </section>
  <div class="titulo-central">
    Barbearias Favoritas
  </div>
  <section>
    Cards
  </section>
</div>
