.container {
  width: 100vw;
  padding: 5% 0%;

  .carrossel {
      display: flex;
      overflow: scroll;
  }

  .historico {
    height: 25vh;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0% 5%;

    .cards {
      flex-flow: row;
      flex-direction: row;
    }

    fdn-card-barbearia-vertical {
      padding: 3%;
    }
  }

  .filtros {
    background-color: var(--input-color);
    display: flex;
    flex-flow: row wrap;
    padding: 3.5%;
  }

  .buscados {
    height: 100vh;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0% 5%;

    .resultado {
      display: inherit;
      flex-direction: column;
      height: 100vh;
      margin: 5%;

      fdn-card-barbearia-horizontal {
        margin-bottom: 5%;
      }
    }
  }
}

.container > * {
  margin: 10% 0;
}
