<div class="container">
  <app-input-busca
    (listaBusca)="setListaBarbearias($event)"
    (valorBuscaPreenchido)="setBuscaEfetuada($event)"
  ></app-input-busca>

  <div class="historico" *ngIf="!foiEfetuadaBusca">
    <label>Historico de Barbearias</label>
    <div class="carrossel cards">
      <fdn-card-barbearia-vertical
        *ngFor="let barbearia of listaBarbearia;"
        [barbearia]="barbearia">
      </fdn-card-barbearia-vertical>
    </div>
  </div>

  <div class="filtros">
    <fdn-combobox-filtro
      *ngFor="let filtro of listaFiltros;"
      [filtro]="filtro">
    </fdn-combobox-filtro>
  </div>

  <div class="carrossel buscados" *ngIf="!foiEfetuadaBusca">
    <div class="resultado">
      <fdn-card-barbearia-horizontal
        *ngFor="let barbearia of listaBarbearia;"
        [barbearia]="barbearia">
      </fdn-card-barbearia-horizontal>
    </div>
  </div>
</div>
