<div class="container">
  <app-input-busca
    (listaBusca)="setListaBarbearias($event)"
    (valorBuscaPreenchido)="setBuscaEfetuada($event)"
  ></app-input-busca>

  <div class="carrossel historico" *ngIf="!foiEfetuadaBusca">
    <label>Historico de Barbearias</label>
    <div class="cards">
      <fdn-card-barbearia-vertical
        *ngFor="let barbearia of listaBarbearia;"
        [barbearia]="barbearia">
      </fdn-card-barbearia-vertical>
    </div>
  </div>

  <div class="filtros">
    <fdn-combobox-filtro
      *ngFor="let filtro of listaFiltros;"
      [filtro]="filtro">
    </fdn-combobox-filtro>
  </div>

  <div class="carrossel resultado" *ngIf="!foiEfetuadaBusca">
    <fdn-card-barbearia-horizontal
      *ngFor="let barbearia of listaBarbearia;"
      [barbearia]="barbearia">
    </fdn-card-barbearia-horizontal>
  </div>
</div>
