<div class="container">
  <form action="/cadastro-codigo-confirmacao" method="post">

    <nav class="toggle">
      <h4>
        Informações Sobre o Salão
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Para que seus clientes encontrem você
        com mais facilidade
        precisamos de alguns dados
      </div>
    </section>
    <section>
      <fdn-input-data #campoInput (keyup.enter)="BuscarEndereco(campoInput.value)" name="phone" class="input-data" id="input-type" textoInterno="CEP" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-input-data name="logradouro" class="input-data" id="input-type" textoInterno="Logradouro" type="text" valorInterno={{endereco.logradouro}} disabled="disabled"></fdn-input-data>
      <fdn-input-data name="numero" class="input-data" id="input-type" textoInterno="Número" type="text"></fdn-input-data>
      <fdn-input-data name="complemento" class="input-data" id="input-type" textoInterno="Complemento" type="text"></fdn-input-data>
      <fdn-input-data name="bairro" class="input-data" id="input-type" textoInterno="Bairro" type="text" valorInterno={{endereco.bairro}} disabled="disabled"></fdn-input-data>
      <fdn-input-data name="cidade" class="input-data" id="input-type" textoInterno="Cidade" type="text" valorInterno={{endereco.localidade}} disabled="disabled"></fdn-input-data>
      <fdn-input-data name="uf" class="input-data" id="input-type" textoInterno="UF" type="text" valorInterno={{endereco.uf}} disabled="disabled" ></fdn-input-data>
    </section>
    <div class="submit">

      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
