<div class="container">

  <div class="header">

    <section class="foto">
      <img src="../../../../assets/images/foto-perfil-default.png" class="foto-perfil">
      <div>
        <img src="../../../../assets/icons/star-complete-fill.svg" class="icon">
        <span>4.5</span>
      </div>
    </section>
    <section class="opcoes">
      <div>Nome Barbearia</div>
      <button>Agendar Horário</button>
      <br>
      <button>Favoritar</button>
    </section>
  </div>

  <section class="detalhes">
    Av. Rua Qualquer,       <br>

    N 777, Bairro Qualquer um      <br>

    Fone: (19) 4002-8922      <br>

    Informações Barbearia

  </section>

  <section>

  </section>
</div>
