<div class="container">

  <section class="primeiro">
    <div class="cabecalho">
      Pedidos
      <button (click)="slider(1)"><img src="{{ setaIcone }}" [class.rotate]="!isPedidosExibido" class="icon"></button>
    </div>
    <div class="conteudo" [class.slide-in]="isPedidosExibido" [class.slide-out]="!isPedidosExibido">
      <fdn-card-pedido-corte
      *ngFor="let item of agendamentos; let i = index"
      [agendamento]="agendamentos[i]"
      [fotoPerfil]="fotosPessoas[i]"
      (isPedidoAprovado)="respostaPedidoCorte($event)"
      ></fdn-card-pedido-corte>

    </div>
  </section>
  <section class="agendamentos">
    <div class="cabecalho">
      Agendamentos
      <button (click)="slider(2)"><img src="{{setaIcone}}" [class.rotate]="!isAgendamentosExibido"
          class="icon"></button>
    </div>

    <modal #modal>

      <h1>Informações Cliente</h1>
      <p>
        Nome: {{ agendamentoSelecionado.nome }} <br>
        Servico: {{ agendamentoSelecionado.tipoCorte }} <br>
        Data: {{ dataCorte }} <br>
        Horário: {{ horarioCorte }} <br>
        Valor: R$ {{ agendamentoSelecionado.valor }},00 <br>
      </p>

      <div class="btn-toggle">
        <fdn-button (click)="modal.toggle();" textoInterno="Fechar"></fdn-button>
      </div>

    </modal>
    <div class="conteudo-agendamentos" [class.slide-in]="isAgendamentosExibido" [class.aumenta-campo-agendamentos]="quantidadePedidos <= 1 || !isPedidosExibido"
      [class.slide-out]="!isAgendamentosExibido" [class.diminui-campo-agendamentos]="quantidadePedidos > 2 && isPedidosExibido">
      <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>

      <div class="data-atual"> {{ dataHoraAtual | async | date: 'dd/MM/yyyy HH:mm:ss' }} </div>
      <div [ngSwitch]="view" class="calendario">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-month-view>

        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-week-view>

        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
          (eventClicked)="eventoClicado($event); modal.toggle();">
        </mwl-calendar-day-view>
      </div>

    </div>
  </section>

</div>
