<div class="container">
  <form action="/cadastro-codigo-confirmacao" method="post">

    <nav class="toggle">
      <h4>
        Inserir Codigo de Confirmação
      </h4>
    </nav>

    <div class="texto-envio">
      Insira o codigo de confirmação
      que foi enviado em {{opcaoEnvio}}
    </div>

    <div class="submit">
      <fdn-input-data name="phone" class="phone" id="input-type" textoInterno="Codigo de Confirmação" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>

