<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Inserir Codigo de Confirmação
      </h4>
    </nav>

    <div class="texto-envio">
      Insira o codigo de confirmação
      que foi enviado.
    </div>

    <div class="submit">
      <input type="number" placeholder="Codigo de Confirmação" formControlName="codigoConfirmacao" class="phone input">

      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>

