<div class="container">
  <fdn-cadastro-email-celular *ngIf="exibirCadastroEmailCelular()" (emailCadastrado)="setNumeroEmail($event)"></fdn-cadastro-email-celular>
  <fdn-cadastro-codigo-confirmacao *ngIf="exibirCodigoConfirmacao()" (codigoConfimacaoCadastrado)="setCondigoConfirmacao($event)"></fdn-cadastro-codigo-confirmacao>
  <fdn-cadastro-tipo-conta *ngIf="exibirTipoConta()" (tipoContaCadastrado)="setTipoConta($event)"></fdn-cadastro-tipo-conta>
  <fdn-cadastro-nome-senha *ngIf="exibirCadastroNome()" [tipoCliente]="getTipoCliente()" (infoLoginCadastrado)="setInfoLogin($event)"></fdn-cadastro-nome-senha>
  <fdn-cadastro-data-nascimento *ngIf="exibirDataNascimento()" (dataNascimento)="setDataNascimento($event)"></fdn-cadastro-data-nascimento>
  <fdn-cadastro-cpf-cnpj *ngIf="exibirCpfCnpj()" [tipoCliente]="getTipoCliente()" (cpfCnpj)="setCpfCnpj($event)"></fdn-cadastro-cpf-cnpj>
  <fdn-cadastro-endereco *ngIf="exibirEndereco()" (enderecoCliente)="setEndereco($event)"></fdn-cadastro-endereco>
  <fdn-cadastro-foto *ngIf="exibirFoto()" [cliente]="getCliente()" (enviarDados)="cadastrarUsuario($event)"></fdn-cadastro-foto>
</div>
