  input {
    color: var(--font-color);
    background: var(--background-button);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }


  div[disabled]{
  }
  input[type="submit"]:disabled {
    background-color: var(--background-button-disabled);
    color: rgb(155, 152, 152);
  }

