<nav class="container">
  <div class="foto-perfil">
    <img src="{{ barbearia.fotoPerfil }}" alt="icone barbearia" srcset="">
  </div>
  <section class="informacoes">
    <header>
      {{ barbearia.nome }}
    </header>

    <section class="sub-container">
      <div class="avaliacao">
        <img src="{{ AVALIACAO_ICON }}" alt="icone avaliacao" srcset="">
        <label>{{ barbearia.avaliacaoBarbearia }}</label>
      </div>

      <div class="especialidade">
        {{ barbearia.especialidade }}
      </div>

      <div class="distancia">
        <div class="ponto"></div>
        <label>{{ distanciaBarbearia() }} KM</label>
      </div>

      <img class="isfavorito" src="{{FAVORITO_ICON}}" alt="icone favorito">

      <section class="tempo-medio">
        <label>{{ barbearia.tempoMedio }}-{{margemAtraso()}} min</label>
      </section>

      <section class="preco-medio">
        <label>{{ barbearia.precoMedio | currency: 'BRL' }}</label>
      </section>
    </section>
  </section>
</nav>
