<nav class="container">
  <img src="{{ICONE_BARBEAIRIA}}" alt="icone barbearia" srcset="">
  <section class="informacoes">
    <header>
      a
      {{nomeBarbearia()}}
    </header>

    <section class="sub-container">
      <div class="avaliacao">
        <img src="{{AVALIACAO_ICON}}" alt="icone avaliacao" srcset="">
        <label for="">{{avaliacaoBarbearia()}}</label>
      </div>

      <div class="especialidade">
        {{especialidadeBarbearia()}}
      </div>

      <div class="distancia">
        <div class="ponto"></div>
        <label for="">{{distanciaBarbearia()}} KM</label>
      </div>

      <img class="isfavorito" src="{{FAVORITO_ICON}}" alt="icone favorito">

      <section class="tempo-medio">
        <label for="">{{tempoMedio()}}-{{margemAtraso()}} min</label>
      </section>

      <section class="preco-medio">
        <!-- <label for="">{{precoMedio() | currency: 'BRL'}}</label> -->
      </section>
    </section>
  </section>
</nav>
