<div class="container">
  <form action="/cadastro-codigo-confirmacao" method="post">

    <nav class="toggle">
      <h4>
        Informações Sobre seu Endereço
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Para que você possa encontrar
        um salão próximo a sua casa
      </div>
    </section>
    <section>
      <fdn-input-data #campoInput (keyup)="buscarEndereco($event.target.value)" name="cep" class="input-data" id="input-type" textoInterno="CEP" type="text" maxLength=8></fdn-input-data>
      <fdn-input-data name="logradouro" class="input-data" id="input-type" textoInterno="Logradouro" type="text" valorInterno={{endereco.logradouro}} disabled="disabled"></fdn-input-data>
      <fdn-input-data name="numero" class="input-data" id="input-type" textoInterno="Número" type="text"></fdn-input-data>
      <fdn-input-data name="complemento" class="input-data" id="input-type" textoInterno="Complemento" type="text"></fdn-input-data>
    </section>
    <div class="submit">

      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
