<div class="container">
  <div *ngIf="exibirMenu" class="header background-hr">
    <a href="">
      <img src="../assets/icons/fdn-icon.png" alt="logo fio da navalha">
    </a>
    <a href="">
      <label class="top-text">Fio da</label>
      <label class="bottom-text">navalha</label>
    </a>
    <a href="">
      <img src="{{cliente.fotoPerfil}}" alt="foto de perfil">
    </a>
  </div>

  <router-outlet></router-outlet>

  <div *ngIf="exibirMenu" class="footer background-ft">
    <a href="">
      <img src="../assets/icons/icones-free/home-icon-black.png" alt="icone home">
    </a>
    <a href="">
      <img src="../assets/icons/icones-free/bussola-icon-black.png" alt="icone explorar">
    </a>
    <a (click)="buscarBarbearia()">
      <img src="../assets//icons/icones-free/search-icon-black.png" alt="icone buscar">
    </a>
    <a href="">
      <img src="../assets/icons/icones-free/user-icon-black.png" alt="icone perfil">
    </a>
  </div>
</div>
