<div class="container">
  <form action="/esqueceu-senha" method="post">

    <nav class="toggle">
      <label style="color:rgb(167,165,165);" *ngIf="opcao == 0;" (click)="ChosePhone()">TELEFONE</label>
      <label *ngIf="opcao == 1" (click)="ChosePhone()">TELEFONE</label>
      <hr>
      <label style="color:rgb(167, 165, 165);" *ngIf="opcao == 1;" (click)="ChoseEmail()">E-MAIL</label>
      <label *ngIf="opcao == 0"  (click)="ChoseEmail()">E-MAIL</label>
    </nav>

    <hr>
    <div class="submit">
      <fdn-input-data name="phone" class="phone" id="txttelefone" textoInterno="{{textoInterno}}" type="{{switchType}}" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-button textoInterno="Enviar" (click)= "Alertar()"></fdn-button>
    </div>
  </form>
</div>

<!--Tentativa de mascara para telefone-->
<script src="hhttps://cdnjs.com/libraries/jquery.mask"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('.phone').mask('(00) 00000-0000');
});
</script>
