.container {
  max-height: 100vh;
  max-height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding: 15vh 0% 5vh 0%;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .informacoes {
    height: 60%;

    .container-informacoes {
      display: grid;
      align-items: center;

      section {
        display: flex;
        flex-direction: column;
        padding: 5% 0% 2% 0%;
        height: 100%;

        label {
          padding-bottom: 2%;
        }
      }

      a {
        color: var(--font-color);
        text-decoration: none;
        span {
          color: #685DAB;
          font-weight: 600;
        }
      }

      fdn-button {
        width: 80%;
        height: 5%;
        padding-left: 3%;
      }

      #esqueceu-senha {
        text-align: end;
      }

      #cadastre-se {
        text-align: center;
        padding-top: 15%;

      }
    }
  }
}
