<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Adicione sua data de nascimento
      </h4>

      <label>Isso não fará parte do seu perfil publico</label>
    </nav>
    <section class="submit">
      <div class="input-data">
        <input id="dia" (keyup)="setDia($event.target.value)" type="text" formControlName="dia" class="input" placeholder="Dia" maxlength="2">
        <input id="mes" (keyup)="setMes($event.target.value)" type="text" formControlName="mes" class="input" placeholder="Mês">
        <input id="ano" (keyup)="setAno($event.target.value)" type="text" formControlName="ano" class="input" placeholder="Ano" maxlength="4">
      </div>

      <label *ngIf="mostarMensagemErro" class="textoErro" >Data Invalida, por favor informe um valor valido!</label>
      <div class="textos">
        <label for="">Você precisa inserir sua data de nascimento </label>
        <label for="">
          Use sua propria data de nascimento.
          Caso seja a conta de uma empresa, informe a data da abertura do CNPJ.
        </label>
      </div>

        <fdn-button textoInterno="Avançar" [disabled]="!dataValida?true:null"></fdn-button>
   </section>
  </form>
</div>

<script>
function delay(callback, ms) {
  var timer = 0;
  return function() {
    var context = this, args = arguments;
    clearTimeout(timer);
    timer = setTimeout(function () {
      callback.apply(context, args);
    }, ms || 0);
  };
}

$('#ano').keyup(delay(function (e) {
  console.log('Time elapsed!', this.value);
}, 5000));

</script>
