<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Adicione sua data de nascimento
      </h4>

      <label>Isso não fará parte do seu perfil publico</label>
    </nav>
    <section class="submit">
      <div class="input-data">
        <input (keyup)="setDia($event.target.value)" type="number" formControlName="dia" class="input" placeholder="Dia">
        <input (keyup)="setMes($event.target.value)" type="number" formControlName="mes" class="input" placeholder="Mês">
        <input (keyup)="setAno($event.target.value)" type="number" formControlName="ano" class="input" placeholder="Ano">
      </div>

      <label *ngIf="mostarMensagemErro" class="textoErro" >Data Invalida, por favor informe um valor valido!</label>
      <div class="textos">
        <label for="">Você precisa inserir sua data de nascimento </label>
        <label for="">
          Use sua propria data de nascimento.
          Caso sejá a conta de um empresa, informe a data da abertura do CNPJ.
        </label>
      </div>

        <fdn-button textoInterno="Avançar"></fdn-button>
   </section>
  </form>
</div>

