<div class="container">
  <div class="form">
    <nav class="toggle">
      <h4>
        Foto de Perfil
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Para ser mais facil saber quem você é,
        nada melhor que uma boa foto de Perfil
      </div>
    </section>
    <section id="perfil">
      <img src="../../../../assets/images/foto-perfil-default.png" id="foto-perfil">
      <img src="../../../../assets/icons/icon-camera.png" id="upload-foto">

    </section>
    <div class="submit">
      <fdn-button (click)="onSubmit()" textoInterno="Avançar"></fdn-button>
    </div>
  </div>
</div>
<fdn-menu></fdn-menu>
