<div class="container">
  <form action="/cadastro-codigo-confirmacao" method="post">

    <nav class="toggle">
      <h4>
        Insira seu CPF
      </h4>
    </nav>

    <div class="submit">
      <input (keyup)="validaInput($event.target.value)" class="cpf" id="cpf" textoInterno="CPF" type="text" maxlength="11">
      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
