.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 15vh;

  input {
    background-color: #C4C4C4;
    border-radius: 80px;
    width: 100%;
    margin: 0 3% 0 3%;
  }

  input::placeholder {
    color: black;
  }

  img {
    width: 7vw;
    height: 3vh;
    position: absolute;
    right: 10%;
  }
}
