<div class="container">
  <form action="/cadastro-codigo-confirmacao" method="post">

    <nav class="toggle">
      <h4>
        Insira nome e senha
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Adicione nome para que seus
        amigos possam encontrar você.
      </div>
    </section>
    <section>
      <fdn-input-data name="phone" class="input-data" id="input-type" textoInterno="Nome" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-input-data name="phone" class="input-data" id="input-type" textoInterno="Senha" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-input-data name="phone" class="input-data" id="input-type" textoInterno="Confirmar Senha" type="text" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
    </section>
    <div class="submit">

      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
