<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Insira nome e senha
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Adicione nome para que seus
        amigos possam encontrar você.
      </div>
    </section>
    <section>
      <input formControlName="nome" class="input-data" placeholder="Nome" type="text" maxlength="30" (keyup)="validarNome($event.target.value)">
      <input formControlName="senha" class="input-data" placeholder="Senha" type="password" minlength="8" maxlength="20" (keyup)="validarSenha($event.target.value)">
      <input class="input-data" placeholder="Confirmar Senha" type="password" minlength="8" maxlength="20" (keyup)="validarSenhaConfirmacao($event.target.value)">
    </section>
    <div class="submit">
      <label class="textoErro" [hidden]="senhaValida">{{mensagemErro}}</label>
      <fdn-button [disabled]="!senhaValida?true:null" textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
