<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <nav class="toggle">
      <h4>
        Insira nome e senha
      </h4>
    </nav>
    <section>
      <div class="texto-envio">
        Adicione nome para que seus
        amigos possam encontrar você.
      </div>
    </section>
    <section>
      <input formControlName="nome" class="input-data" placeholder="Nome" type="text">
      <input formControlName="senha" class="input-data" placeholder="Senha" type="password">
      <input class="input-data" placeholder="Confirmar Senha" type="password">
    </section>
    <div class="submit">
      <fdn-button textoInterno="Avançar"></fdn-button>
    </div>
  </form>
</div>
