<div class="container">
  <form action="/esqueceu-senha" method="post">

    <nav class="toggle">
      <label class="opcao-selecionada" *ngIf="opcao == 0;" (click)="ChosePhone()">TELEFONE</label>
      <label *ngIf="opcao == 1" (click)="ChosePhone()">TELEFONE</label>
      <hr>
      <label class="opcao-selecionada" *ngIf="opcao == 1;" (click)="ChoseEmail()">E-MAIL</label>
      <label *ngIf="opcao == 0"  (click)="ChoseEmail()">E-MAIL</label>
    </nav>

    <hr>
    <div class="submit">
      <fdn-input-data name="phone" class="phone" id="txttelefone" textoInterno="{{textoInterno}}" type="{{switchType}}" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"></fdn-input-data>
      <fdn-button textoInterno="Enviar" (click)= "Alertar()"></fdn-button>
    </div>
  </form>
</div>

<!--Tentativa de mascara para telefone-->

