.container {
  background: #EDEAE3;
  //background: red;
  border-radius: 15%;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  .informacoes {
    display: flex;
    .coluna{
      margin-top: 10px;
      line-height: 15px;
    }
header {
  max-width: max-content;
}
section {
  display: inline;
}
    .aside-foto {
      max-width: 50px;
      min-width: 50px;
      margin-right: 4px;
      img {
        margin-top: 25px;
        width: 100%;
        border-radius: 100%;
      }
    }

    .detalhes {
     width: max-content;
     font-size: 14px;
     max-width: 250px;
     display: flex;
     flex-direction: column;
     flex-flow: column;
     margin-top: 10px;
    }
    .aprovacao {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-end;
    }
  }
.icone {
  width: 50px;
}
}
