<div class="container">
  <div class="form">
    <nav class="toggle">
      <h4>
        Inserir Codigo de Confirmação
      </h4>
    </nav>

    <div class="texto-envio">
      Insira o codigo de confirmação
      que foi enviado.
    </div>

    <div class="submit">
      <input
        #codigo
        (keyup)="validadorCodigo($event.target.value)"
        type="text"
        placeholder="Codigo de Confirmação"
        class="phone input"
        maxlength=8
      >

      <fdn-button
        (click)="onSubmit()"
        [disabled]="!isCodigoValido ? true : null"
        textoInterno="Avançar">
      </fdn-button>
    </div>
  </div>
</div>

